

.hidden{
    display: none;
}

.shown{
    display: flex;
}

.event-card {
    color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    background: #F19955;
}

.event-card button {
    font-size: 1.2vw;
    background-color: transparent;
    border: none;
    transition: 1s;
    border-radius: 2px;
    font-family: 'Quicksand';
}
.event-card button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    border: none;
}