.event-card {
    color: #fff;
    border: solid 1px #61dafb;
    border-radius: 5px; 
    margin: 5% 8%;
}

.event-card button {
    color: #61dafb;
    font-size: 1.2vw;
    background-color: transparent;
    border: none;
    border-width: 1px;
    transition: 0.5s;
    font-family: 'Quicksand';
    margin-bottom: 10%;
}
.event-card button:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #61dafb;
}

.event-details {
    padding: 5%;
    font-size: 1.2vw;
}

@media (max-width: 800px) {
    .event-details {
        font-size: 3vw;
    }
}